{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  {% comment %}The home layout of the app component{% endcomment %}
  <h1 class="text-3xl font-semibold text-center mt-4 underline underline-offset-7">To Do App</h1>
  <div class="flex flex-col w-10/12 mx-auto">
    <h2 class="text-xl text-gray-500">My Plan</h2>
    <span>{% now 'l, F d Y' %}</span>
    <div class="w-full flex mt-3 gap-3 max-sm:flex-col">
      {% comment %}Left section{% endcomment %}
      <div class="w-1/2 max-sm:w-full flex flex-col overflow-x-scroll overflow-y-scroll gap-2 h-96">
        {% for task in incomp_task %}
          <div class="py-3 px-2 border border-gray-200 rounded-lg flex max-sm:flex-col sm:justify-between">
            <span class="text-sm text-gray-600">{{ task.task }}</span>
            <div class="flex gap-1.5">
              <a href="{% url 'mark_task_done' task.id %}" class="px-2 py-1.5 rounded-mg cursor-pointer inline-flex items-center rounded-lg transition-all transform bg-green-500 text-white text-sm font-semibold ease-in hover:bg-green-600 active:scale-95"><i class="fa-solid fa-check"></i><span class="ml-2">Mark as done</span></a>
              <a href="{% url 'delete_task' task.id %}" class="px-2 py-1.5 rounded-mg cursor-pointer inline-flex items-center rounded-lg transition-all transform ease-in bg-red-500 text-white text-sm font-semibold active:scale-95 hover:bg-red-700"><i class="fa-solid fa-trash"></i></a>
              <a href="{% url 'edit_task' task.id %}" class="px-2 py-1.5 rounded-mg cursor-pointer inline-flex items-center rounded-lg transition-all transform ease-in bg-indigo-500 text-white text-sm font-semibold active:scale-95 hover:bg-indigo-600"><i class="fa-solid fa-pen"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% comment %}Right section{% endcomment %}
      <div class="flex-1 flex flex-col gap-4 overflow-x-hidden overflow-y-scroll h-96">
        <h2 class="text-gray-600">Completed Task</h2>
        {% for task in comp_task %}
          <div class="flex flex-col w-full gap-2">
            <div class="border border-gray-200 rounded-lg p-2 w-full flex justify-between">
              <p class="text-sm text-gray-500">{{ task.task }}</p>
              <a href="{% url 'mark_task_undone' task.id %}" class="px-2 py-1.5 rounded-mg cursor-pointer inline-flex items-center rounded-lg transition-all transform ease-in bg-red-500 text-white text-sm font-semibold active:scale-95 hover:bg-red-700">Undo</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <form action="{% url 'add_task' %}" method="post" class="w-1/2 gap-2 flex mt-3">
      {% csrf_token %}
      <input type="text" name="task" placeholder="Enter new task" class="flex-1 border border-gray-200 rounded-md text-gray-400 p-2 w-full outline-none pl-4" />
      <button type="submit" class="px-4 py-2 bg-indigo-600 rounded-lg gap-1.5 text-white inline-flex items-center cursor-pointer">Add <i class="fa-solid fa-plus"></i></button>
    </form>
  </div>
{% endblock %}
